@model  MyFoodDiary.Models.BarChartViewModel

@Scripts.Render("~/bundles/jqueryui")

<link href="@Url.Content("~//Content/themes/vader/jquery-ui-1.10.3.custom.css")" rel="stylesheet" type="text/css" />

<script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>

<div>
    <input id="dateselection" name="Date" type="text">
</div>

<div>
    @Html.ActionLink("Protein", "Refresh", new { nutrient = "Protein" }, new { @class = "ProteinLink" })
    @Html.ActionLink("Carbohydrates", "Refresh", new { nutrient = "Carbohydrates" }, new { @class = "CarbohydratesLink" })
    @Html.ActionLink("Fat", "Refresh", new { nutrient = "Fat" }, new { @class = "FatLink" })
    @Html.ActionLink("Calories", "Refresh", new { nutrient = "Calories" }, new { @class = "CaloriesLink" })
    @Html.ActionLink("Alcohol", "Refresh", new { nutrient = "Alcohol" }, new { @class = "AlcoholLink" })
    @Html.ActionLink("% Total Energy", "Refresh", new { nutrient = "TotalEnergy" }, new { @class = "TotalEnergyLink" })
</div>

<div>
    @Html.ActionLink("Protein week to date", "Refresh", new { nutrient = "ProteinWeek" }, new { @class = "ProteinWeekLink" })
    @Html.ActionLink("Carbohydrates week to date", "Refresh", new { nutrient = "CarbohydratesWeek" }, new { @class = "CarbohydratesWeekLink" })
    @Html.ActionLink("Fat week to date", "Refresh", new { nutrient = "FatWeek" }, new { @class = "FatWeekLink" })
    @Html.ActionLink("Calories week to date", "Refresh", new { nutrient = "CaloriesWeek" }, new { @class = "CaloriesWeekLink" })
    @Html.ActionLink("Alcohol week to date", "Refresh", new { nutrient = "AlcoholWeek" }, new { @class = "AlcoholWeekLink" })
</div>

<div id="foodChart" style="margin:10px 0px 0px 0px">
</div>

<script src="@Url.Content("~/Scripts/MyFoodDiaryCharts.js")" type="text/javascript"></script>

