@model  MyFoodDiary.Models.ProductViewModel
@using MyFoodDiary.Domain

@Scripts.Render("~/bundles/jqueryui")

<link href="@Url.Content("~//Content/themes/vader/jquery-ui-1.10.3.custom.css")" rel="stylesheet" type="text/css" />


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)


    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>


    foreach (ProductNutrient nutrient in Model.ProductMacronutrients.ProductNutrients)
    {
        <div class="editor-label">
            @Html.Label(nutrient.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => nutrient.Quantity)
            @Html.ValidationMessageFor(model => nutrient.Quantity)
        </div>
    }

    foreach (ProductNutrient nutrient in Model.ProductMicronutrients.ProductNutrients)
    {
        <div class="editor-label">
            @Html.Label(nutrient.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => nutrient.Quantity)
            @Html.ValidationMessageFor(model => nutrient.Quantity)
        </div>
    }

    <p>
        <input type="submit" value="Save" />
    </p>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="@Url.Content("~/Scripts/MyFoodDiaryProducts.js")" type="text/javascript"></script>

